<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to simplébo-project.herokuapp.com, <%= @user.first_name %></h1>
    <p>You have been assigned a ticket</p>
    <p>To consult it, please clik on the link below : </p>
    <p><%= @url %></p>
  </body>
</html>
