.home{
background-image: url('https://images.unsplash.com/photo-1513265472937-50d3e680377c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80');
height: 80vh;
background-size: cover;
background-position: bottom;
}
