.index-title {
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: fill;
}

.card-product .card-product-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.tickets {
  text-align: center;
}

.ticket-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: $white;
  border-radius: 10px;
}

.comments-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: $white;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.comment {
  border: 1px solid $pacific-blue;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.search-bar {
  margin-bottom: 20px;
  width: 40%;
}
