<div class="container mt-4 mb-4 tickets">
  <h1><%= @ticket[:title] %></h1>
  <div class="ticket-info mb-4">
    <span>Ticket master : <%= @ticket.user.first_name %></span>
    <span>Creation : <%= @ticket.created_at %></span>
    <!-- pouvoir cloturer le ticket si on est en charge du ticket -->
  </div>
  <div class="ticket-description">
    <p>Description :</p>
    <%= @ticket.description %>
  </div>
  <div class="comments">
    <!-- une div avec le fil des commentaires -->
  </div>
  <!-- une deuxieme div avec le formulaire pour faire un nouveau commentaire -->
</div>
