.navbar-simplebo {
  height: 10vh;
  background: rgb(39, 46, 66);
}

.navbar-simplebo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-simplebo a {
  color: $pacific-blue;
  text-decoration: none;
}
